@charset "utf-8";

article{
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

table {
  border: 1px solid #ccc;
  border-collapse: separate;
  border-radius: 5px;
  border-spacing: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

table th,table td {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

table th {
  border-right: 1px solid #ccc;
  background: #eee;
}

table tr:first-child th {
  border-radius: 5px 0 0 0;
}
table tr:first-child td {
  border-radius: 0 5px 0 0;
}
table tr:last-child th {
  border-bottom: none;
  border-radius: 0 0 0 5px;
}
table tr:last-child td {
  border-bottom: none;
  border-radius: 0 0 5px 0;
}

td {
  width: 500px;
}

th {
  width: 200px;
}
.left {
  text-align: left;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: serif;
  font-size: 18px;
}

.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000;
    background: #ECECEC;
    transition: .4s;
    border: 1px solid #808080;
  }

.square_btn:hover {
    background: #00bcd4;
    color: #000;
}

.reseto_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000;
    background: #ECECEC;
    transition: .4s;
    margin-left: 20px;
    border: 1px solid #808080;
  }

.reseto_btn:hover {
    background: #00bcd4;
    color: #000;
}

.update_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000;
    background: #ECECEC;
    transition: .4s;
    margin-left: 20px;
    border: 1px solid #808080;
  }

.update_btn:hover {
    background: #00bcd4;
    color: #000;
}

.delete_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000;
    background: #ECECEC;
    transition: .4s;
    margin-left: 20px;
    border: 1px solid #808080;
  }

.delete_btn:hover {
    background: #00bcd4;
    color: #ff0000;
}

div {
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 10px;
}

header {
  /* background-color: #ccccff; */
}

#title {
	margin: 0;
}

h1 {
	padding-left: 5%;
	background-color: #ccccff;
}

.side_menu{
	display: inline-block;
	width: 200px;
	height: 100vh;
	margin: 0;
	overflow-y: scroll;
	background-color: #333;
	color: #fff;
	font-family: sans-serif;
	margin-top: 0;

  position: fixed;
  /* position: sticky; */
}
.side_menu::-webkit-scrollbar {
	display: none;
}

.side_menu .menu_item{
	display: block;
	width: 100%;
	height: 2em;
	margin: 0;
	cursor: pointer;
}
.side_menu .menu_item:hover{
	background-color: #555;
}
.side_menu .menu_item .menu_block_name{
	display: block;
	padding: 5px;
	height: 100%;;
	text-decoration: none;
	color: #fff;
}
.side_menu .menu_block_hiden{
	display: none;
	margin: 0;
}
.side_menu .menu_item {
	cursor: default;
}
.side_menu .has_submenu{
	background: url('/images/arrow_down.png') 175px 10px no-repeat transparent;
	background-size: 16px 16px;

}
.side_menu .menu_block_hiden .menu_block_subitem{
	display: block;
	margin: 0;
	padding: 5px 5px 5px 25px;
	color: #fff;
	text-decoration: none;
}
.side_menu .menu_block_hiden .menu_block_subitem:hover{
	background-color: #999;
}

.main_content{
	margin: 0;
	margin-left: 200px;
	display: inline-block;
	/* width: calc( 100vw - 217px ); */
	width: calc( 100% - 200px );
	height: 100vh;
	/* overflow-y: auto; */
}
.main_content::-webkit-scrollbar{
	/* display: none; */
}