@charset "utf-8";

article{
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

table {
  border: 1px solid #ccc;
  border-collapse: separate;
  border-radius: 5px;
  border-spacing: 0;
	width: 100%;
	margin: 0 auto;
	background-color: #f8fafc;
  //margin-left: auto;
  // margin-right: auto;
	// margin-top: 10px;
	
	.table-header{
		line-height: 20px;
		th{
			width: 10%;
		}
		.table_main_col{
			width: 30%;
		}
	}
	.btn-outer{
		text-align: center;
		width: 100px !important;
		.btn{
			width: 80px !important;
		}
	}
}
.search_result{
	font-size: 12px;
}

table th,table td {
  border-bottom: 1px solid #ccc;
	padding: 10px 20px;
	font-weight: 100;

	.search_box{
		width: calc( 100% - 60px );
		display: inline-block;
	}
	.search_button{
		display: inline-block;
	}

}

.table-bordered th, .table-bordered td{
	padding: 5px;
	font-size: 12px;
	line-height: 12px;
}

table th {
  border-right: 1px solid #ccc;
  background: #eee;
}

table tr:first-child th {
  border-radius: 5px 0 0 0;
}
table tr:first-child td {
  border-radius: 0 5px 0 0;
}
table tr:last-child th {
  border-bottom: none;
  border-radius: 0 0 0 5px;
}
table tr:last-child td {
  border-bottom: none;
  border-radius: 0 0 5px 0;
}

td {
  width: 500px;
}

th {
  width: 200px;
}
.left {
  text-align: left;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: serif;
	font-size: 18px;
	background-color: #fff;
}

.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000;
    background: #ECECEC;
    transition: .4s;
    border: 1px solid #808080;
  }

.square_btn:hover {
    background: #00bcd4;
    color: #000;
}

.reseto_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000;
    background: #ECECEC;
    transition: .4s;
    margin-left: 20px;
    border: 1px solid #808080;
  }

.reseto_btn:hover {
    background: #00bcd4;
    color: #000;
}

.update_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000;
    background: #ECECEC;
    transition: .4s;
    margin-left: 20px;
    border: 1px solid #808080;
  }

.update_btn:hover {
    background: #00bcd4;
    color: #000;
}

.delete_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000;
    background: #ECECEC;
    transition: .4s;
    margin-left: 20px;
    border: 1px solid #808080;
  }

.delete_btn:hover {
    background: #00bcd4;
    color: #ff0000;
}

// div {
//   margin-top: 10px;
//   margin-right: 50px;
//   margin-bottom: 10px;
// }

header {
  /* background-color: #ccccff; */
}

#title {
	margin: 0!important;
	padding: 5px;
	font-family: sans-serif;
	line-height: 2.25rem;
	padding-left: calc(( 100% - 768px ) / 2 )
}

h1 {
	padding-left: 5%;
	background-color: #ccccff;
}

.side_menu{
	display: inline-block;
	width: 200px;
	height: 100vh;
	margin: 0;
	overflow-y: scroll;
	background-color: #333;
	color: #fff;
	font-family: sans-serif;
	margin-top: 0;

  position: fixed;
  /* position: sticky; */
}
.side_menu::-webkit-scrollbar {
	display: none;
}

.side_menu .menu_item{
	display: block;
	width: 100%;
	height: 2em;
	margin: 0;
	cursor: pointer;
}
.side_menu .menu_item:hover{
	background-color: #555;
}
.side_menu .menu_item .menu_block_name{
	display: block;
	padding: 5px;
	height: 100%;;
	text-decoration: none;
	color: #fff;
}
.side_menu .menu_block_hiden{
	display: none;
	margin: 0;
}
.side_menu .menu_item {
	cursor: default;
}
.side_menu .has_submenu{
	background: url('/images/arrow_down.png') 175px 10px no-repeat transparent;
	background-size: 16px 16px;

}
.side_menu .menu_block_hiden .menu_block_subitem{
	display: block;
	margin: 0;
	padding: 5px 5px 5px 25px;
	color: #fff;
	text-decoration: none;
}
.side_menu .menu_block_hiden .menu_block_subitem:hover{
	background-color: #999;
}

.main_content{
	margin: 0;
	margin-left: 200px;
	display: inline-block;
	/* width: calc( 100vw - 217px ); */
	width: calc( 100% - 200px );
	height: 100vh;
	/* overflow-y: auto; */
}
.main_content::-webkit-scrollbar{
	/* display: none; */
}
.search_box{
	width: calc( 100% - 69px );
	display: inline-block;
}
.search_button{
	width: 20%;
}
.content_wrapper{
	max-width: 768px;
	margin: 0 auto;
	padding-top: 10px;
	font-family: sans-serif;
	font-weight: normal;
}
.controll_buttons{
	//padding: 10px;
	text-align: right;
	margin: 5px 0 20px 0;

	.btn{
		width: 75px;
		font-weight: 100;
		&:hover{
			background-color: gray;
			color: #fff;
		}
	}
	.btn-danger{
		&:hover{
			background-color: crimson;
		}
	}
	.btn-success{
		&:hover{
			background-color: limegreen;
		}
	}
}
.overflow_btn{
	.btn{
		width: inherit;
	}
}
.row{
	margin-left: 0;
	width: 100%;

	.hyphen{
		//フォーム内ハイフン
		width: 25px;
		text-align: center;
		line-height: 40px;
	}
}
.select2{
	width: 100%;
}